@media only screen and (min-width: 481px) and (max-width: 1024px)
{

    .img_ordi
    {
        display: none;
    }

    p
    {
        font-size: 15px;
    }
    /*---------------------------------en-tête--------------------------------------------*/

    header
    {
        flex-flow: column;
        position: relative;
    }

    header img
    {
        margin: 2%;
        margin-right: 70%;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
    }

    .menu
    {
        text-decoration: none;
        color: #0065fc;
        padding-bottom: 3%;
    }

    .menu:nth-child(1)
    {
        color: black;
        display: flex;
        justify-content: center;
        flex: 2;
        border-bottom: 2px solid;
        border-color: #f2f2f2;
    }

    .menu:nth-child(2)
    {
        color: black;
        display: flex;
        justify-content: center;
        flex: 2;
        border-bottom: 2px solid;
        border-color: #f2f2f2;
    }

    .menu:hover
    {
        color: #0065fc;
        border-bottom: 2px solid;
        border-color: #0065fc;
    }

    .menu:nth-child(3)
    {
        position: absolute;
        top: 30%;
        right: 20px;
        border: none;
        font-weight: bold;
    }

    /*------------------------------------body--------------------------------------------*/
    /*présentation du site*/


    #presentation
    {
        display: flex;
        flex-direction: column;
        margin: 4%;
    }

    #presentation h1, p 
    {
        margin: 0px;
        margin-top: 2%;
    }

    h1
    {
        font-size: 23px;
    }

    h3, h4
    {
        font-size: 17px;
        margin: unset;
    }

    /*barre de recherche--------------------------------------------*/

    #presentation
    {
        display: flex;
        flex-direction: column;
        margin: 4%;
    }

    #presentation h1, p 
    {
        margin: 0px;
        margin-top: 2%;
    }

    h1
    {
        font-size: 23px;
    }

    h3, h4
    {
        font-size: 17px;
        margin: unset;
    }

    /*barre de recherche--------------------------------------------*/

    #recherche
    {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        margin: 4%;
        border-top: #f2f2f2 2px solid;
        border-bottom: #f2f2f2 2px solid;
        border-radius: 20px;
        max-height: 50px;
    }

    #recherche span
    {
        margin: unset;
    }

    #recherche i
    {
        border-radius: 15px 0px 0px 15px;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        max-width: 54px;
        max-height: 54px;
    }

    #ville
    {
        display: flex;
        flex: 2;
    }

    #ville h2
    {
        display: none;
    }

    #ville input
    {
        border: none;
        width: 150%;
        font-weight: bold;
        padding-left: 5%;
    }

    #ville input:focus
    {
        outline: none;
    }

    #ville i
    {
        background-color: unset;
        width: unset;
        color: white;
    }

    #ville button
    {
        background-color: #0065fc;
        border: none;
        align-self: center;
        border-radius: 15px;
        min-width: 54px;
        min-height: 54px;
        flex: 1;
    }

    /*------------------------------------filtres--------------------------------------------*/

    #filtres
    {
        margin: 4%;
    }

    #filtres h2
    {
        font-size: 18px;
    }

    #filtres nav
    {
        display: flex;
        flex-wrap: wrap;
    }

    #filtres button
    {
        display: flex;
        align-items: center;
        padding: 0;
        border: 2px solid #d9d9d9;
        background-color: white;
        border-radius: 20px;
        height: 40px;
        margin-right: 5%;
        margin-bottom: 2%;
    }

    #filtres i
    {
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-left: -2px;
        align-items: center;
        background-color: #deebff;
        border-radius: 40px;
        color: #0065fc;
    }

    #filtres span
    {
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 0px 10px;
        font-weight: bold;
    }

    #info
    {
        display: flex;
        margin: 6%;
    }

    #info i
    {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065fc;
        background-color: white;
        border: #f2f2f2 solid 1px;
        max-width: 15px;
        max-height: 15px;
        min-height: 15px;
        min-width: 15px;
        border-radius: 20px;
        margin-right: 1%;
        margin-top: 2%;
    }

    /*------------------------------------populaire--------------------------------------------*/

    #populaire
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;
        padding: 2%;
        margin: 0px;
    }

    .encart
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4% 2% 4% 2%;
        min-width: 400px;
        max-width: 500px;
    }

    .vignette-horizontale
    {
        display: flex;
        background-color: white;
        border-radius: 5px;
        padding: 1%;
        margin: 1%;
        min-width: 400px;
        max-width: 500px;
    }

    .vignette-horizontale .img_mobile
    {
        display: flex;
        height: 100px;
        width: 100px;
        background-size: cover;
        border-radius: 5px 0px 0px 5px;
    }

    .note
    {
        display: flex;
        flex-direction: row;
        color: #0065fc;
        margin: 1%;
    }

    .quatre-etoile .note .fa-star:last-child
    {
        color: #d9d9d9;
    }

    .cinq-etoile
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 2%
    }

    .quatre-etoile
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 2%
    }

    .trois-etoile
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 2%
    }

    /*------------------------------------hebergements--------------------------------------------*/

    #hebergements
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4%;
        min-width: 400px;
    }

    #hebergements h3
    {
        min-width: 400px;
        max-width: 500px;
    }

    .vignette-vertical
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2%;
        margin-top: 5%;
        height: 200px;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 6px #f3f3f3;
        min-width: 400px;
        max-width: 500px;
    }

    .vignette-vertical .quatre-etoile
    {
        margin: 1%;
    }

    #hebergements img
    {
        display: flex;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        height: 130px;
        min-width: 400px;
        max-width: 500px;
    }

    #activite
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 4%;
    }

    /*------------------------------------activites--------------------------------------------*/

    #activite h3
    {
        margin-bottom: 4%;
        min-width: 400px;
        max-width: 500px;
    }

    .vignette
    {
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        height: 200px;
        min-width: 400px;
        max-width: 500px;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 6px #f3f3f3;
    }

    .vignette img
    {
        display: flex;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        height: 150px;
        width: 100%;
    }

    .vignette h4
    {
        margin: 5%;
    }

    .afficher
    {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    /*------------------------------------footer--------------------------------------------*/

    footer
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color:  #f2f2f2;
        padding-left: 4%;
        padding-bottom: 5%;

    }

    footer h3
    {
        margin: 5% 0% 2% 0%;
    }

    footer p
    {
        margin: 2% 0% 2% 0%;
    }


}