/* 
- en-tête
- body
-barre de recherche
-filtres
-populaire
-hebergements
-activite
-footer
*/


@media only screen and (min-width: 1025px)
{

    body
    {
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }

    /*---------------------------------en-tête--------------------------------------------*/
    header
    {
        justify-content: space-between;
    }

    header img
    {
        margin: 2%;
    }

    nav
    {
        justify-content: flex-end;
        flex-grow: 2;
    }

    .menu
    {
        display: flex;
        align-items: center;
        margin-right: 5%;
    }

    .menu:hover
    {
        border-top: 2px solid;
    }

    .menu:nth-child(3)
    {
        border: none;
    }

    /*------------------------------------body--------------------------------------------*/
    /*------------------------------------présentation du site--------------------------------------------*/
    #presentation
    {
        margin-left: 2%;
    }

    #presentation h1
    {
        margin: unset;
    }

    #presentation p
    {
        margin: unset;
        margin-top: 0.5%;
        margin-bottom: 2%;
    }

    /*------------------------------------barre de recherche--------------------------------------------*/

    #recherche
    {
        margin-left: 2%;
        margin-bottom: 1%;
        max-width: 30%;
        height: 40px;
    } 

    #recherche span
    {
        margin: unset;
        color: white;
        font-size: 12px;
    }

    #recherche i
    {
        border-radius: 15px 0px 0px 15px;
        width: 10%;
    }

    #ville
    {
        width: 80%;
    }

    #ville input
    {
        border-top: #f2f2f2 2px solid;
        border-bottom: #f2f2f2 2px solid;
    }

    #ville i
    {
        display: none;
    }

    #ville button
    {
        border-radius: 0px 10px 10px 0px;
    }

    #ville span
    {
        color:white;
    }

    /*------------------------------------filtres--------------------------------------------*/

    #filtres
    {
        margin-left: 2%;
        display: flex;
        justify-content: start;
    }

    #filtres nav
    {
        justify-content: flex-start;
        align-items: center;
        margin-left: 5%;
    }

    #info
    {
        margin-left: 2%;
        align-items: center;
    }

    #info i
    {
        border: #f2f2f2 solid 1px;
    }

    /*------------------------------------populaire--------------------------------------------*/

    #affichage_ordi
    {
        display: flex;
    }

    #populaire
    {
        justify-content: space-around;
        margin: 2%;
        padding-top: 1%;
        order: 2;
        border-radius: 15px;
        flex: 1;
    }
    
    #populaire h3
    {
        margin: unset;
    }

    #populaire .cinq-etoile, #populaire .quatre-etoile
    {
        justify-content: space-between;
        margin: 2%;
        margin-left: 5%;
    }

    .encart
    {
        align-items: flex-end;
    }

    .etoiles
    {
        margin: 1% 4% 4% 5%;
    }

    .quatre-etoile h4 , .quatre-etoile p
    {
        margin: 1%;
    }

    .cinq-etoile h4 , .cinq-etoile p
    {
        margin: 1%;
    }

    .trois-etoile h4 , .trois-etoile p
    {
        margin: 1%;
    }

    .vignette-horizontale
    {
        padding: 2%;
        height: 20%;
    }

    .vignette-horizontale img
    {
        background-size: cover;
        width: 30%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }

    /*------------------------------------hebergements--------------------------------------------*/

    .vignette-vertical
    {
        background-color: white;
        margin: 2%;
        width: 28%;
    }

    .vignette-vertical img
    {
        margin: 2%;
        background-size: cover;
        width: 95%;
        height: 125px;
        border-radius: 15px 15px 0px 0px;
    }

    #hebergements h3
    {
        width: 100%;
        margin-top: 5%;
        margin-left: 2%;
        align-items: center;
        display: flex;
    }

    #hebergements h3:last-child
    {
        width: 100%;
        margin: 3% 0% 7% 2%;
        align-items: center;
        display: flex;
    }

    #hebergements
    {
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
        padding-left: 1%;
        background-color: #f2f2f2;
        order: 1;
        flex: 2;
        border-radius: 15px;
        justify-content: space-around;
    }

    /*------------------------------------activites--------------------------------------------*/

    #activite
    {
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
        order: 3;
        border-radius: 15px;
    }

    #activite h3
    {
        width: 100%;
    }

    #conteneur
    {
        display: flex;
        height: 450px;
    }

    .vignette
    {
        flex: 1;
    }

    .vignette div
    {
        display: flex;
        flex: 2;
    }
    .vignette h4
    {
        margin-left: 8%;
    }

    #conteneur > div
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 0% 2% 0% 2%;
        max-height: 450px;
    }

    #conteneur div div
    {
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
    }

    .affichage1 .vignette:first-child
    {
        max-height: 55%;
    }

    .affichage1 .vignette:last-child
    {
        max-height: 40%;
    }  

    .affichage2 .vignette:first-child
    {
        max-height: 45%;
    }

    .affichage2 .vignette:last-child
    {
        max-height: 50%;
    }

    /*------------------------------------footer--------------------------------------------*/

    footer
    {
        justify-content: flex-start;
        margin-top: 4%;
        padding-top: 2%;
    }

    footer section
    {
        margin-right: 15%;
    }

    footer p
    {
        margin: 6% 0% 4% 0%;
    }

}

