body
{
    font-family: 'Raleway', sans-serif;
    margin: unset;
}

header
{
    display: flex;
}

@media only screen and (max-width: 480px)
{

    header
    {
        flex-flow: column;
        position: relative;
    }

    #logo
    {
        margin: 2%;
        margin-right: 70%;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
    }

    .menu
    {
        text-decoration: none;
        color: #0065fc;
    }

    .menu:nth-child(1)
    {
        color: black;
        display: flex;
        justify-content: center;
        flex: 2;
    }

    .menu:nth-child(2)
    {
        color: black;
        display: flex;
        justify-content: center;
        flex: 2;
    }

    .menu:hover
    {
        color: #0065fc;
        border-bottom: 5px solid;
        border-color: #0065fc;
    }

    .menu:nth-child(3)
    {
        position: absolute;
        margin-top: -7.5%;
        margin-left: 80%;
        border: none;
    }

}

@media only screen and (min-width: 481px) and (max-width: 1024px)
{


    header
    {
        flex-flow: column;
        position: relative;
    }

    #logo
    {
        margin: 2%;
        margin-right: 70%;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
    }

    .menu
    {
        text-decoration: none;
        color: #0065fc;
    }

    .menu:nth-child(1)
    {
        color: black;
        display: flex;
        justify-content: center;
        flex: 2;
    }

    .menu:nth-child(2)
    {
        color: black;
        display: flex;
        justify-content: center;
        flex: 2;
    }

    .menu:hover
    {
        color: #0065fc;
        border-bottom: 5px solid;
        border-color: #0065fc;
    }

    .menu:nth-child(3)
    {
        position: absolute;
        margin-top: -7.5%;
        margin-left: 80%;
        border: none;
    }

}

@media only screen and (min-width: 1025px)
{
    header
    {
        justify-content: space-between;
    }

    #logo
    {
        margin: 2%;
    }

    nav
    {
        display: flex;
        justify-content: center;
    }

    .menu
    {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #0065fc;
    }

    .menu:hover
    {
        color: #0065fc;
        border-top: 5px solid;
        border-color: #0065fc;
    }

    .menu:nth-child(3)
    { 
        border: none;
        font-weight: bold;
    }

}

